body {
padding-left: 40px;
padding-right: 40px;
}
section {
 background-color: rgb(246, 246, 240);
}

.favicon {
  color: white;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  font-size: 35px;
  border: 1px solid white;
}
h1{
  display:flex;
  flex-direction: row;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: #ff742b;
  margin-top: 10px;
  padding-top: 10px;
  padding-left:3px;
}

h2, span {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 15px;
  font-weight: 600;
  
}
span {
  font-size: 14px;
  font-weight: 200;
}
p {
  font-size: 14px;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.verticalLine {
  border-left: 2px solid grey;
  height: 13px;
}
p, .verticalLine {
  display: flex;
  gap: 8px;
}

form {
  display:flex;
  flex-direction: row;
}
.posts,.url{
  text-decoration: none;
  color:#262625 ;

  list-style: none;
}
a {
  text-decoration: none;
  color:#262625 ;
  font-size:10.6667px;
}

ul {
  list-style-type: none;
  padding: 20px;
}

@media (min-width: 1024px) {
  input {
    width: 100%;
  }
  section {
   margin: auto;

  }
}

